@charset 'utf-8';
@import './base.scss';

@mixin card($pad:1rem) {
  padding: $pad;
  background-color: whitesmoke;
  border-radius: 5px;
}
@mixin tab(){
  margin-top: 14px;
  box-sizing: border-box;
  li{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}